body {
  max-width: 600px;
  background-color: #333333;
  margin: auto;
}

h1 {
  text-align: center;
  margin: 1rem;
  color: whitesmoke;
}

.note-container {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 400px;
  background-color: rgba(255, 255, 255, .5)
}

.title-input {
  width: 500px;
  margin: auto;
  padding: 0 1rem 0 1rem;
}

.text-input {
  width: 500px;
  margin: auto;
  padding: 1rem;
}

.note-button {
  text-align: center;
}

.note-title {
  margin: 1rem;
}

.note-text {
  margin: 1rem 1rem 2rem 1rem;
  max-width: 300px;
}